@charset "utf-8";
/* CSS Document */

/*basic reset*/
* {margin: 0; padding: 0;}
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	padding-top:10px;
	padding-bottom:20px;
}
hr {
	height:1px;
	background-color:#DDDDDD;
	border:0;
	margin-top:5px;
	margin-bottom:15px;
}
#accordian {
	width: 96%;
	margin: 0 auto 0 auto;
}
/*heading styles*/
#accordian h3 {	
	font-size: 12px;
	line-height: 18px;
	background: #FFF;
	cursor: pointer;
	background:url(../images/ico-plus.png) no-repeat;
	background-position:0 1px;
	padding-left:25px;
	margin-left:10px;
	margin-bottom:10px;
}
#accordian h3.active {
	background:url(../images/ico-minus.png) no-repeat;
	background-position:0 1px;
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
	/*opacity:0.4;
	filter:alpha(opacity=40);*/
}
/*links*/
#accordian ul ul li a {
	color: #333333;
	text-decoration: underline;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	color: #FF6600;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}
#answer {
	font-size:12px;
	padding:10px 15px 10px 15px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:12px;
	background-color:#DDDDDD;	
}
.extra {
	font-size:12px;
	font-style:italic;
	margin-left:10px;
}
.header {
	font-size:12px;
	font-weight:bold;
}